<form>
  <h3 md-dialog-title="">新建项目</h3>
  <div md-dlalog-content>
    <md-input-container class="full-width">
      <input type="text" mdInput placeholder="项目名称">
    </md-input-container>
    <md-input-container class="full-width">
      <input type="text" mdInput placeholder="项目描述">
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button type="button" md-raised-button color="primary" (click)="onClick()">保存</button>
    <button type="button" md-dialog-close color="primary">关闭</button>
  </div>
</form>
